[submodule "www/js/webauthn-client"]
	path = www/js/webauthn-client
	url = https://github.com/privacyidea/webauthn-client.git
[submodule "lib/php-client"]
	path = lib/php-client
	url = https://github.com/privacyidea/php-client.git
