Source: privacyidea-simplesamlphp
Maintainer: Cornelius Kölbel <cornelius@privacyidea.org>
Section: net
Priority: optional
Build-Depends: debhelper (>= 7.4.3)
Standards-Version: 3.9.6

Package: privacyidea-simplesamlphp
Architecture: all
Depends: ${misc:Depends}, simplesamlphp
Description: SimpleSAMLphp module for privacyIDEA to do two factor authentication
 This package add two factor authentication to simpleSAMLphp.
 privacyIDEA: identity, multifactor authentication, authorization.
 privacyIDEA is an open solution for strong two-factor authentication.
 privacyIDEA aims to not bind you to any decision of the authentication protocol
 or it does not dictate you where your user information should be stored.
 This is achieved by its totally modular architecture.
 privacyIDEA is not only open as far as its modular architecture is concerned.
 But privacyIDEA is completely licensed under the AGPLv3.

