.error-dialog {
	border-left: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background: #f5f5f5;
}

.erroricon {
	margin: 15px;
}

#username[type=text], #password, #otp {
	width:322px;
}

#username[type=text] {
	margin:25px 15px 15px;
}

#password {
	margin:15px;
}

label[for=otp] {
	font-weight: bold;
}

#otp {
	margin: 25px 15px 7px;
}

#submitButton {
	width:210px;
	margin:0 15px 7px;
}

#AlternateLoginOptions {
	margin-top:35px;
	padding-bottom: 2em;
}

#useWebAuthnButton, #usePushButton, #useOTPButton, #useU2FButton {
	width:140px;
	margin:15px 10px 7px;
}

#useOTPButton {
	margin-left: 15px;
	margin-right: 15px;
}

.links {
	margin-top: 2em;
}

.hidden {
	display: none;
}
